[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.8"
pandas = "==2.1.4"
openpyxl = "==3.1.2"
pillow = "==10.2.0"
fonttools = "==4.47.0"
reportlab = "==4.0.8"
whitenoise = "==6.6.0"
cryptography = "==41.0.7"
psycopg2-binary = "==2.9.9"
imagekitio = "==3.2.0"
requests = "==2.31.0"
django-redis = "==5.4.0"
redis = {version = "==5.0.1", extras = ["hiredis"]}
django-dotenv = "==1.4.2"
dj-database-url = "==2.1.0"
gunicorn = "==21.2.0"

[dev-packages]

[requires]
python_version = "== '3.9' or == '3.11'"